/*=========================================
    ECOFRESH GROCERS
    Main stylesheet
    Colour scheme: Green, Orange and White
=============================================*/


/*============================
    GENERAL SETTINGS
==============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

